
.contenido{
    background: url('/imagenes/encabezado.png') no-repeat center center;
    text-align: center;
    
}
.temario {
    background: url('/imagenes/contacto.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}


.temario-info {
    background: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    line-height: 1.8;
}

.temario-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.temario-info li {
    color: aliceblue;
    font-size: 16px;
    padding: 5px 0;
}

.temario-info h2 {
    color: rgb(31, 150, 255);
    font-size: 28px;
    margin-bottom: 15px;
}

.temario-info h3 {
    color: rgb(31, 150, 255);
    font-size: 22px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}
#temarios {
    color: #d1cfcf;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#temarios li {
    background: #2c3e50;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
    list-style: none; 
}

#temarios li:hover {
    transform: scale(1.05);
}

#temarios li strong {
    color: #3498db;
    font-size: 20px;
}

.contenido h1{
    text-align: center;
}

/* Nueva tarjeta para el formulario */
.formulario-tarjeta {
    margin: 20px auto;
    text-align: center;
    background: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none; /* Oculto por defecto */
    line-height: 1.8;
}


.formulario-tarjeta input,
.formulario-tarjeta select,
.formulario-tarjeta button {
    
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.formulario-tarjeta button {
    background: #e67e22;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.formulario-tarjeta button:hover {
    background: #d35400;
}


.formulario-tarjeta.mostrar {
    display: block;
}

