.contenido {
    background: url('/imagenes/encabezado.png') no-repeat center center;
    text-align: center;
}

.temario {
    background: url('/imagenes/contacto.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#temarios {
    color: #d1cfcf;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no caben */
    gap: 30px; /* Aumenta el espacio entre elementos */
    justify-content: center;
    padding: 20px; /* Añade padding alrededor del contenedor */
}

#temarios a {
    background: #2c3e50;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px; /* Ancho fijo para cada elemento */
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 10px; /* Margen alrededor de cada elemento */
}

#temarios a:hover {
    transform: scale(1.05);
}

#temarios a strong {
    color: #3498db;
    font-size: 20px;
}

.contenido h1 {
    text-align: center;
}

/* Nueva tarjeta para el formulario */
.formulario-tarjeta {
    margin: 20px auto;
    text-align: center;
    background: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none; /* Oculto por defecto */
    line-height: 1.8;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.formulario-tarjeta button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.formulario-tarjeta button {
    background: #e67e22;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.formulario-tarjeta button:hover {
    background: #d35400;
}

.formulario-tarjeta.mostrar {
    display: block;
}


.temario-card {
    display: block;
    width: 250px; 
    text-decoration: none; /* quita subrayado */
    color: inherit; /* hereda color de texto */
    transition: transform 0.3s,
}


        .edit-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
        }
        .form-group label {
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-group input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .btn {
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .guardar-btn {
            background-color: #e67e22;
            color: white;
        }
        .cancelar-btn {
            background-color: #f44336;
            color: white;
        }
