.general{
    margin: 30px auto;
    margin-top: 40px;  
    line-height: 1.8;
    background: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);   
}
.general label{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.registro{
    background: url('/imagenes/contacto.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
}
.general a{
        text-decoration: none;
        color: #ecf0f1;
        transition: all .3s ease;
    }
.general a:hover{
    color: #f37f12;
}
header {
    display: flex;  
    align-items: center;  /* Centra verticalmente */
    padding: 10px;
}

header img {
    width: 100px; /* Ajusta el tamaño */
    margin-top: 0px;
    height: 80px;
    margin-right: 20px; /* Espaciado a la derecha */
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-wrapper,
.password-container {
    position: relative;
    display: inline-block;
    width: 60%; /* Ajusta esto según prefieras */
    max-width: 300px;
}

.input-wrapper input,
.password-container input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    outline: none;
    box-sizing: border-box;
}

/* Estilos específicos del icono de la contraseña */
.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #252222;
    font-size: 20px;
}

